@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* 🎨 Colors - Text */
  --color-primary: #2d2d2d;
  --color-secondary: #818c99;
  --color-tertiary: #5f6368;
  --color-accent: #004b87;
  --color-primary-alternate: #fff;

  /* 🎨 Colors - background */
  --color-page: #fff;
  --color-nav: #f6f6f6;

  /* 🔤 Fonts
  --font-farsi: "Yekan Bakh Fa", sans-serif;
  --font-english: "Aionik", sans-serif; */
}




/* Optional dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #10161f;
    --color-foreground: #ffffff;
  }
}
body {
  font-family: var(--font-farsi-regular), sans-serif;
}

.font-bold {
  font-family: var(--font-farsi-bold), sans-serif;
}


@media (max-width: 767px) {
  .social-icon {
    filter: invert(7%) sepia(90%) saturate(6163%) hue-rotate(189deg) brightness(11%) contrast(103%);
  }
}
